## .NET Core
**/bin/
**/obj/
*.user
*.userosscache
*.suo
*.userprefs

## IDEs
.idea/
.vscode/
*.swp
*.*~

## OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

## Docker
docker-compose.override.yml
